<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick-Chat</title>
    <link rel="stylesheet" href="/css/chat.css">
</head>
<body>
    <header>
        <h1>Quick Chat</h1>
    </header>
    <main class="chat-container">
        <aside class="section-sidebar">
            <header class="section-header"></header>
             <p class="section-headerPara"></p>
            <form id="search"></form>
            <ul class="section-list">
                <!-- Group items will go here -->
            </ul>
        </aside>
        <section class="chat-main">
            <header>
                <h2 id="chat-heading"></h2>
            </header>
            <form id="chatForm"></form>
            <p class="error-message"></p>
            <div id="chatMessages">
                <ul class="messages">
                    <!-- Chat messages will go here -->
                </ul>
            </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.8.3/axios.min.js"></script>
            <script src="/js/chatPublic.js"></script>
        </section>
    </main>
</body>
</html>